<div class="container">
  <div class="flex justify-center items-center">
    <div class="md:6/12 min-[320px]:w-1/2">
    <%# image_tag "topvisual.jpg" %>
    </div>
  </div>
  <div class="my-10 text-center text-2xl font-bold text-gray-800 md:mb-8 lg:text-3xl">
    <h2 class="lg:text-4xl mb-24">旅からあなたの価値観を見つけ出そう</h2>
  </div>

    <h4 class="text-center text-gray-800 font-bold mx-10 mb-4 text-xl md:mb-2">旅行の感想 「楽しかった」 だけになってませんか？</h4>
    <div class="text-center text-gray-800 text-xs mx-10 md:text-base md:mx-44 lg:mx-96">
      <p></p>
      <p>Journalipなら思い出を簡単に振り返ることができます</p>
    </div>

    <%# アプリ使い方 %>
    <!-- Open the modal using ID.showModal() method -->
  <div class="flex justify-center pt-10">
    <button class="btn" onclick="my_modal_1.showModal()">アプリの使い方</button>
      <dialog id="my_modal_1" class="modal">
      <div class="modal-box">
        <h4 class="text-lg font-bold">Journalipって？</h4>
        <p class="py-4">旅行の振り返りを簡単に行えて、自分の価値観を発見できるアプリです。</p>
        <h4 class="text-lg font-bold pt-4">使い方は？</h4>
        <p class="pt-4">TOPページの最新記事から気になる記録を見ることができます。</p>
        <p class="pb-4">会員登録をすると振り返り投稿機能を使えます。</p>
        <h4 class="text-lg font-bold pt-4">誰が管理している？</h4>
        <p class="py-4">このサービスは旅行が好きな人間「もなこ」が管理しています。</p>
        <div class="modal-action">
          <form method="dialog">
            <!-- if there is a button in form, it will close the modal -->
            <button class="btn">閉じる</button>
          </form>
        </div>
      </div>
      </dialog>
  </div>

    <h2 class="mt-24 text-center text-2xl font-bold text-gray-800 mb-8 text-3xl">最新記事</h2>
<%# ここにここに最新記事６つ表示する %>
  <% if @boards.present? %>
    <div class="flex-wrap px-24 md:grid grid-cols-3 grid-rows-auto gap-5">
    <% @boards.each do |board| %>
      <%= render partial: 'boards/board', locals: { board: board } %>
    <% end %>
    </div>
  <% else %>
    <p><%= '記事がありません' %></p>
  <% end %>

  <div class="flex justify-center py-24">
    <%= link_to 'もっと見る', boards_path, class: "btn" %>
    <%= link_to '書いてみる', new_board_path, data: { turbo: false }, class: "btn ml-3" %>
  </div>
</div>