<%= image_tag "topvisual.jpg", class: "w-6/12" %><br>

<h1 class="text-3xl font-bold">
    旅からあなたの価値観を見つけ出そう
</h1>
<br><br>

<h3>振り返りを助ける4つの項目</h3>
<%# ここに振り返り項目画像を追加する　%>
<br>
<h3>最新記事</h3>
<%# ここにここに最新記事６つ表示する　%>
<br><br>
<%= link_to 'もっと見る', '#', class: "btn" %>
<%= link_to '書いてみる', '#', class: "btn" %>
