<header class="text-[#302359] body-font bg-[#fbfbfb]">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <%= link_to 'Jornalip', root_path, class: "mr-4 hover:text-gray-900" %>
    <%# link_to root_path, class: "flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" do %>
      <%# ---左端にロゴ--- image_tag 'Journalip.png', class: 'w-full h-auto rounded', style: 'max-width: 300px; max-height: 200px;' %>
    <%# end %>
    <!-- Desktop Menu -->
    <nav class="text-xs md:flex md:ml-auto flex-nowrap items-center justify-center">
      <%= link_to 'ログイン', login_path, class: "mr-4 hover:font-bold" %>
      <%= link_to '会員登録', users_new_path, class: "mr-4 hover:font-bold" %>
      <%# link_to '検索', '#', class: "mr-4 hover:text-gray-900" %>
      <%# link_to 'ログアウト', '#', data: { turbo_method: :delete }, class: "hover:text-gray-900" %>
    </nav>

  </div>
</header>