<div class="flex justify-center items-center">
<h3 class="lg:text-2xl my-10"><%= '自分の記事一覧' %></h3>
</div>
<% if @boards.present? %>
      <%= render @boards %>
    <% else %>
      <div class="mb-3">掲示板がありません</div>
    <% end %>