<div class="flex justify-center items-center">
<h1><%= '自分の記事一覧' %></h1>
</div>
<% if @boards.present? %>
      <%= render @boards %>
    <% else %>
      <div class="mb-3">掲示板がありません</div>
    <% end %>